@use "index";

.user {
  color: white;
  transition: all index.$transDur ease-in-out;
  width: 50%;
  position: relative;
  padding: 10px;
  background: #323336;
  border-radius: 15px;
  width: min-content;
  overflow: hidden;
  h3,
  h4 {
    white-space: nowrap;
    margin: 0;
    z-index: 3;
  }
  .removeUserContainer {
    position: absolute;
    top: 15px;
    right: -10px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0;
      background-color: transparent;
      border: none;
      height: 30px;
      width: 30px;
      color: #ff4747;
      cursor: pointer;
      z-index: 2;
    }
  }
  h4 {
    color: #818283;
  }
  .teams {
    display: flex;
    .team {
      width: min-content;
      padding: 2px;
      border-radius: 5px;
      white-space: nowrap;
      padding: 0 5px;
    }
  }
}
