body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
}

#app {
  background-repeat: no-repeat;
}

.table {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  background-color: #cfdcff;
  border-radius: 3px;
  border: 1px solid #253460;
  cursor: pointer;
}

$transDur: 0.2s;
#tooltip {
  transition: all $transDur ease-out, height 1s ease-in-out;
  * {
    transition: all $transDur ease-out,
      font-size calc($transDur / 4) ease-in-out;
    cursor: initial;
  }
  position: relative;
  width: min-content;
  background: #202124;
  color: white;
  max-height: 70%;
  border-radius: 20px;
  transition: all $transDur ease-out;
  cursor: grab;
  padding: 20px;
  button {
    cursor: pointer;
    * {
      cursor: pointer;
    }
  }
  #closeButtonContainer,
  #editButtonContainer {
    overflow: hidden;
    position: absolute;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 25px;
    top: 25px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      padding: 0;
      background-color: #323336;
      border: none;
      color: white;
      border-radius: 100px;
      font-size: 0;
      height: 0;
      width: 0;
      cursor: pointer;
    }
  }
  #editButtonContainer {
    left: 25px;
    button {
      font-size: 20px;
      height: 35px;
      width: 35px;
    }
  }

  h1,
  input#tableNumber {
    width: 60%;
    min-height: 37px;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #202124;
    color: white;
    border: none;
    border-bottom: 1px solid #202124;
  }
  #inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100px;
    h3,
    h4 {
      margin: 5px 0;
    }
    h4 {
      color: #818283;
    }
    &.hidden {
      height: 0;
    }
    input {
      width: 60%;
    }
  }
  #usersContainer {
    padding: 5px;
    display: flex;
    grid-template-rows: auto;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 5px;
    max-height: 50vh;
    height: auto;
    place-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    .userContainer {
      overflow: hidden;
      height: 100px;
      .user {
        transition: all $transDur ease-in-out;
        width: 50%;
        position: relative;
        padding: 10px;
        background: #323336;
        border-radius: 20px;
        width: min-content;
        overflow: hidden;
        h3,
        h4 {
          white-space: nowrap;
          margin: 0;
          z-index: 3;
        }
        .removeUserContainer {
          position: absolute;
          top: 15px;
          right: -10px;
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0;
            background-color: transparent;
            border: none;
            height: 30px;
            width: 30px;
            color: #ff4747;
            cursor: pointer;
            z-index: 2;
          }
        }
        h4 {
          color: #818283;
        }
        .teams {
          display: flex;
          .team {
            width: min-content;
            padding: 2px;
            border-radius: 5px;
            white-space: nowrap;
            padding: 0 5px;
          }
        }
      }
    }

    // scrollbar
    & {
      /* width */
      &::-webkit-scrollbar {
        transition: all 0.2s ease-in-out;
        width: 6px;
        &:hover {
          width: 10px;
        }
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: #202124;
        border-radius: 10px;
        &:hover {
          width: 10px;
        }
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        transition: all 0.2s ease-in-out;
        background: #323336;
        border-radius: 10px;
        &:hover {
          width: 10px;
        }
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #3e3f42;
        &:hover {
          width: 10px;
        }
      }
    }
  }
  #controls {
    width: 100%;
    max-height: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    button {
      height: 40px;
      width: 40px;
      max-width: 40px;
      background: #3b3d40;
      border: none;
      color: white;
      border-radius: 10px;
      margin: 10px 0;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
      &#reset {
        svg {
          filter: invert(1);
        }
      }
      &#delete {
        color: #ff4747;
      }

      transition: all $transDur ease-in-out;
      &.hidden {
        // max-width: 0;
        // margin: 0;
        padding: 0;
        margin-top: 100px;
      }
    }
  }

  &.popup {
    padding: 25px;
    h1,
    input#tableNumber {
      margin-left: 50px;
      margin-right: 50px;
      cursor: grab;

      border-bottom: 1px solid #818283;
    }
    #usersContainer {
      grid-gap: 10px;
      .user {
        h3 {
          margin-right: 30px;
        }
        .removeUserContainer {
          right: 10px;
          button {
            font-size: 20px;
          }
        }
        padding: 15px;
      }
      &.hidden {
        .userContainer {
          height: 0;
        }
      }
    }
    #closeButtonContainer {
      button {
        font-size: 20px;
        height: 35px;
        width: 35px;
      }
    }
    #editButtonContainer {
      button {
        font-size: 0px;
        height: 0px;
        width: 0px;
      }
    }
    #controls {
      max-height: 60px;
    }
  }

  &.dragging {
    transition: none;
    cursor: grabbing;
  }
}

#floatingButtons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: min-content;
  gap: 10px;
  > div {
    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      padding: 0;
      background-color: #323336;
      border: none;
      color: white;
      border-radius: 100px;
      font-size: 30px;
      height: 50px;
      width: 50px;
      cursor: pointer;
      * {
        cursor: pointer;
      }
      svg {
        filter: invert(1);
      }
    }
  }
}

#addUserFormBackground,
#addUserForm {
  &,
  * {
    transition: all $transDur ease-in-out;
  }
  opacity: 0;
  z-index: -2;
  &.open {
    opacity: 1;
    z-index: 4;
  }
}

#addUserFormBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-color: #20212494;
  // filter: blur(30px);
}

#locationDropdownContainer {
  transition: all 0.3s ease-in-out;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 60px;
  max-height: 0px;
  max-width: 0px;
  padding: 0px;
  border-radius: 20px;
  overflow: hidden;

  #locationDropdown {
    background: #323336;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1000;
    padding: 20px;

    button.location {
      background-color: #28292d;
      color: white;
      border: 2px solid #28292d;
      border-radius: 10px;
      font-size: 20px;
      white-space: nowrap;
      margin: 5px;
      padding: 10px;
      cursor: pointer;
      &.current {
        border: 2px solid white;
      }
    }
  }
  &.open {
    max-height: 500px;
    max-width: 300px;
  }
}

#addUserForm {
  box-shadow: 0px 0px 100px #6767679c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #202124;
  padding: 40px;
  border-radius: 30px;
  max-width: 50%;

  form {
    display: flex;
    flex-direction: column;
    div#header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      > * {
        float: left;
        &#userNameInput {
          width: calc(100% - 50px);
          font-size: 20px;
          background-color: #323336;
          border: 1px solid #3b3d40;
          color: white;
          outline: none;
          padding: 10px;
          border-radius: 10px;
        }
        &#closeButtonContainer {
          overflow: hidden;
          height: 35px;
          width: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            padding: 0;
            background-color: #323336;
            border: none;
            color: white;
            border-radius: 100px;
            font-size: 20px;
            height: 100%;
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }

    div#selectUser {
      margin: 20px 0;
      max-height: 300px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow-y: scroll;
      .noData {
        margin: 10px;
        padding: 10px;
        color: grey;
      }
      .user {
        color: white;
        position: relative;
        padding: 10px;
        margin: 5px;
        background: #323336;
        border-radius: 15px;
        width: min-content;
        cursor: pointer;
        h3,
        h4 {
          white-space: nowrap;
          margin: 0;
          z-index: 3;
        }
        .removeUserContainer {
          position: absolute;
          top: 15px;
          right: -10px;
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        h4 {
          color: #818283;
        }
        .teams {
          display: flex;
          .team {
            width: min-content;
            padding: 2px;
            border-radius: 5px;
            white-space: nowrap;
            padding: 0 5px;
          }
        }
      }

      // scrollbar
      & {
        /* width */
        &::-webkit-scrollbar {
          transition: all 0.2s ease-in-out;
          width: 6px;
          &:hover {
            width: 10px;
          }
        }
        /* Track */
        &::-webkit-scrollbar-track {
          background: #28292d;
          border-radius: 10px;
          &:hover {
            width: 10px;
          }
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
          transition: all 0.2s ease-in-out;
          background: #323336;
          border-radius: 10px;
          &:hover {
            width: 10px;
          }
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #3e3f42;
          &:hover {
            width: 10px;
          }
        }
      }
    }
  }
}
